* {
    font-family: 'PT Serif', serif;
}

header p {
    margin-left: 10px;
    margin-right: 10px;
}
.logout {
    color: red;
}
.login {
    color: blue;
    margin-right: 10px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
}