{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header>
        <h1>
            <a href="{% url 'home' %}" style="color:blue">Abbos Blog</a><a> |</a>
            <a href="{% url 'post_new' %}" style="color:green">Yangi post</a>
        </h1>
        {% if user.is_authenticated %}
            <p>
                <a> Xush kelibsiz, {{ user.username }}!</a>
                <a href="{% url 'logout' %}" class="logout"> Chiqish</a>
            </p>
        {% else %}
            <p>
                <a href="{% url 'login' %}" class="login">Saytga kirish</a>
                <a href="{% url 'signup' %}" class="login">Ro'yhatdan o'tish</a>
            </p>
        {% endif %}
    </header>
    <hr>



    {% block content %}
    {% endblock content %}

</body>
</html>