{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abbos Blog</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>

    <div class="container">
        <header>
            <h1>
                <a href="{% url 'home' %}">Abbos Blog</a>
            </h1>

            <div class="log">
                {% if user.is_authenticated %}
                    <p>Xush kelibsiz, {{ user.username }}!</p>
                    <a href="{% url 'logout' %}" class="logout">Chiqib ketish</a>
                {% else %}
                    <a href="{% url 'login' %}" class="login">Saytga kirish</a>
                {% endif %}
            </div>

        </header>

        <div class="main">
            {% block content %}
            {% endblock content %}
        </div>
        <h2><a href="{% url 'post_new' %}" class="new_post">+ Yangi post</a></h2>
    </div>


</body>
</html>